<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weizu.flowsys.web.activity.dao.ServiceScopeDaoInterface">
  <sql id="t_scope">service_scope</sql>
  <resultMap id="BaseResultMap" type="com.weizu.flowsys.web.activity.pojo.ServiceScopePo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="scope_city_code" jdbcType="VARCHAR" property="scopeCityCode" />
    <result column="scope_city_name" jdbcType="VARCHAR" property="scopeCityName" />
    <result column="service_type" jdbcType="INTEGER" property="serviceType" />
    <result column="operator_type" jdbcType="INTEGER" property="operatorType" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
  </resultMap>
  <!-- <sql id="Base_Column_List">
    id, scope_city_code, scope_city_name, service_type, operator_type, operator_name
  </sql> -->
  <!-- 查询所有运营商类型 -->
  <select id="listOperatorType" resultType="int">
  	SELECT DISTINCT(operator_type) FROM <include refid="t_scope"></include>
  </select>
  <!-- 查询所有城市 -->
  <select id="listScopeCityName" resultType="java.lang.String">
  	SELECT DISTINCT(scope_city_name) FROM <include refid="t_scope"></include>
  </select>
  <!-- 查询所有业务类型 -->
  <select id="listServiceType" resultType="int">
  	SELECT DISTINCT(service_type) FROM <include refid="t_scope"></include>
  </select>
  <!-- 一次性初始化范围数据库表 -->
  <insert id="scope_addList" parameterType="java.util.List">
  	insert into <include refid="t_scope"></include>
  	(id,scope_city_code,scope_city_name,service_type,operator_type,operator_name)
  	values
  	<foreach collection="list" item="scope" index="index" separator=",">
  		(#{scope.id},#{scope.scopeCityCode},#{scope.scopeCityName},#{scope.serviceType},#{scope.operatorType},#{scope.operatorName})
  	</foreach>
  </insert>
  
  <!-- 通过参数查询范围Id（方便更新通道表的服务范围ID） -->
  <select id="getServiceScopeId" resultType="java.lang.String" parameterType="com.weizu.flowsys.web.activity.pojo.ServiceScopePo">
  	SELECT id FROM <include refid="t_scope"></include>
  	<where>
  		<include refid="condition_sql"></include>
  	</where>
  </select>
  <!-- 查询where语句块 -->
	<sql id="condition_sql">
		<if test="operatorType != null">
			AND operator_type = #{operatorType}
		</if>
		<if test="scopeCityName != null">
			AND scope_city_name LIKE CONCAT('%', TRIM(#{scopeCityName}), '%')
		</if>
		<if test="scopeCityCode != null">
			AND scope_city_code LIKE CONCAT('%', TRIM(#{scopeCityCode}), '%')
		</if>
		<if test="serviceType != null">
			AND service_type = #{serviceType}
		</if>
	</sql>
</mapper>