<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>代理商指南</h3>
	在个人信息板块中，找到自己的注册码给别人，同时给对方提供微族通道系统的入口
	<p><strong>南昌微族流量充值平台入口：<a href="https://www.91weizu.cn" target="_blank">https://www.91weizu.cn</a></strong></p>
	用户注册成功之后，自动会在代理商列表显示，其他代理商，包括超管，都看不到你的代理商相关信息
	<br>其他特殊功能，可以给下级代理添加备注
	<p>
		其他使用，可看平台相关目录中的<a data-href="http://htmlify.wps.cn/doc/index.html?ksyun=hPT1Afio/word.html&theme=clear" data-title="平台操作指南" href="javascript:void(0)">平台操作指南</a>
	</p>
</body>
</html>