<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weizu.flowsys.web.activity.dao.AgencyActiveChannelDao" >

<sql id="t_active">agency_active_rate</sql>
<sql id="t_rate">rate_discount</sql>
<!-- <sql id="t_aac_join">aac_join_rd</sql> -->
<sql id="t_channel">channel_discount</sql>

  <resultMap id="BaseResultMap" type="com.weizu.flowsys.web.activity.pojo.AgencyActiveRatePo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="agency_id" property="agencyId" jdbcType="INTEGER" />
    <result column="bind_state" property="bindState" jdbcType="INTEGER" />
    <result column="bind_agency_id" property="bindAgencyId" jdbcType="INTEGER" />
    <result column="agency_name" property="agencyName" jdbcType="VARCHAR" />
    <result column="channel_name" property="channelName" jdbcType="VARCHAR" />
    <result column="active_time" property="activeTime" jdbcType="BIGINT" />
    <result column="rate_discount_id" property="rateDiscountId" jdbcType="BIGINT" />
    <result column="channel_discount" property="channelDiscount"/>
    <!-- <result column="active_time" property="activeTime" jdbcType="BIGINT" /> -->
    <collection property="rateList" resultMap="com.weizu.flowsys.web.activity.dao.RateDiscountDao.BaseResultMap"></collection>
  </resultMap>
  
  <!-- 费率结果集 -->
  <resultMap id="OtherResultMap" type="com.weizu.flowsys.web.activity.pojo.AgencyActiveRatePo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="agency_id" property="agencyId" jdbcType="INTEGER" />
    <result column="bind_state" property="bindState" jdbcType="INTEGER" />
    <result column="bind_agency_id" property="bindAgencyId" jdbcType="INTEGER" />
    <!-- <result column="channel_id" property="channelId" jdbcType="BIGINT" /> -->
    <result column="agency_name" property="agencyName" jdbcType="VARCHAR" />
    <!-- <result column="channel_name" property="channelName" jdbcType="VARCHAR" /> -->
    <result column="active_time" property="activeTime" jdbcType="BIGINT" />
    <result column="rate_discount_id" property="rateDiscountId" jdbcType="BIGINT" />
    <result column="rate.active_discount" property="channelDiscount"/>
  </resultMap>
  
  
  <sql id="Other_Column_List" >
    active.id, active.agency_id,  active.agency_name, active.active_time,
    rate.id,rate.operator_type,rate.scope_city_code,rate.active_discount,active.bind_agency_id,active.bind_state,rate.active_discount
  </sql>
  <sql id="Base_Column_List" >
    active.id, agency_id, agency_name, active_time,channel.channel_name,
    rate.id,rate.operator_type,rate.scope_city_code,active_discount,active_id,bind_agency_id,bind_state,channel_discount
  </sql>
  
  <!-- 查询给三级代理商的最新折扣 -->
  <select id="listActiveDiscount" parameterType="map" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"></include>
  	from <include refid="t_active"></include> active
  	inner join <include refid="t_channel"></include> channel
  	on active.channel_id = channel.id
  	inner join <include refid="t_rate"></include> rate
  	on active.id = rate.active_id
  	<where>
  		<include refid="condition_sql"></include>
  	</where>
  </select>
  
  
  <!-- 查询分页费率列表 -->
   <select id="listActiveRate" parameterType="map" resultMap="OtherResultMap">
  	select <include refid="Other_Column_List"></include>
  	from  <include refid="t_active"></include> active 
  	inner join <include refid="t_rate"></include> rate
  	on rate.id=active.rate_discount_id
  	inner join <include refid="t_channel"></include> channel
  	on channel.id = rate.channel_discount_id
  	<where>
  		<include refid="condition_rate_sql"></include>
  	</where>
  	order by active.id desc
  	<if test="start != null">
	 	limit #{start}
	 </if>
	 <if test="end != null">
	 	, #{end}
	 </if>
	 <if test="start == null &amp; end == null">
	 	limit 0,10
	 </if> 
	 </select>
	 <!-- 查询费率记录数 -->
	 <select id="countActiveRate" parameterType="map" resultType="long">
	  	select count(*) from <include refid="t_active"></include> active 
	  	inner join <include refid="t_rate"></include> rate
	  	on rate.id=active.rate_discount_id
	  	inner join <include refid="t_channel"></include> channel
	  	on channel.id = rate.channel_discount_id
	  	<where>
	  		<include refid="condition_rate_sql"></include>
	  	</where>
	  </select>
	 
	 
  <!-- 查询分页列表 -->
   <select id="listActive" parameterType="map" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"></include>
  	 from <include refid="t_active"></include> active 
  	inner join <include refid="t_rate"></include> rate
  	on rate.id=active.rate_discount_id
  	inner join <include refid="t_channel"></include> channel
  	on channel.id = rate.channel_discount_id
  	<where>
  		<include refid="condition_sql"></include>
  	</where>
  	order by active.id desc
  	<if test="start != null">
	 	limit #{start}
	 </if>
	 <if test="end != null">
	 	, #{end}
	 </if>
	 <if test="start == null &amp; end == null">
	 	limit 0,10
	 </if> 
  </select>
  
  <select id="countActive" parameterType="map" resultType="int">
  	select count(*) from <include refid="t_active"></include> active
  	inner join <include refid="t_rate"></include> rate
  	on active.id = rate.active_id
  	<where>
  		<include refid="condition_sql"></include>
  	</where>
  </select>
  
  <!-- 费率查询条件 -->
  <sql id="condition_rate_sql">
  	<!-- <if test="channelId != null">
  		AND active.channel_id = #{channelId}
  	</if> -->
  	<if test="agencyId != null">
  		AND active.agency_id = #{agencyId}
  	</if>
  	<if test="bindAgencyId != null">
  		AND active.bind_agency_id = #{bindAgencyId}
  	</if>
  	<if test="operatorType != null">
  		AND rate.operator_type = #{operatorType}
  	</if>
  	<if test="scopeCityCode != null">
  		AND rate.scope_city_code = #{scopeCityCode}
  	</if>
  	<if test="serviceType != null">
  		AND rate.service_type = #{serviceType}
  	</if>
  	<if test="rateId != null">
  		AND rate.id = #{rateId}
  	</if>
  </sql>
  
  <sql id="condition_sql">
  	<!-- <if test="channelId != null">
  		AND active.channel_id = #{channelId}
  	</if> -->
  	<if test="agencyId != null">
  		AND active.agency_id = #{agencyId}
  	</if>
  	<if test="bindAgencyId != null">
  		AND active.bind_agency_id = #{bindAgencyId}
  	</if>
  	<!-- <if test="channelName != null">江西的通道折扣
  		AND active.channel_name like concat('%', #{channelName}, '%') 
  	</if> -->
  	<if test="scopeCityCode != null"><!-- 江西的通道折扣 -->
  		AND channel.scope_city_code = #{scopeCityCode}
  	</if>
  </sql>
  
  <!-- 更新绑定状态 -->
  <update id="updateBindState" parameterType="map">
  	update <include refid="t_active"></include>
  	<set>
  		<if test="bindState != null">
  			bind_state = #{bindState}
  		</if>
  	</set>
  	<where>
  		<if test="id != null">
  			id = #{id}
  		</if>
  	</where>
  </update>
  
  
  
  <!-- <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from agency_activechannel
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from agency_activechannel
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="weizu.flowsys.entity.AgencyActiveChannelPo" >
    insert into agency_activechannel (id, agency_id, channel_id, 
      agency_name, channel_name, active_time
      )
    values (#{id,jdbcType=BIGINT}, #{agencyId,jdbcType=INTEGER}, #{channelId,jdbcType=INTEGER}, 
      #{agencyName,jdbcType=VARCHAR}, #{channelName,jdbcType=VARCHAR}, #{activeTime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="weizu.flowsys.entity.AgencyActiveChannelPo" >
    insert into agency_activechannel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="agencyId != null" >
        agency_id,
      </if>
      <if test="channelId != null" >
        channel_id,
      </if>
      <if test="agencyName != null" >
        agency_name,
      </if>
      <if test="channelName != null" >
        channel_name,
      </if>
      <if test="activeTime != null" >
        active_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="agencyId != null" >
        #{agencyId,jdbcType=INTEGER},
      </if>
      <if test="channelId != null" >
        #{channelId,jdbcType=INTEGER},
      </if>
      <if test="agencyName != null" >
        #{agencyName,jdbcType=VARCHAR},
      </if>
      <if test="channelName != null" >
        #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="activeTime != null" >
        #{activeTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="weizu.flowsys.entity.AgencyActiveChannelPo" >
    update agency_activechannel
    <set >
      <if test="agencyId != null" >
        agency_id = #{agencyId,jdbcType=INTEGER},
      </if>
      <if test="channelId != null" >
        channel_id = #{channelId,jdbcType=INTEGER},
      </if>
      <if test="agencyName != null" >
        agency_name = #{agencyName,jdbcType=VARCHAR},
      </if>
      <if test="channelName != null" >
        channel_name = #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="activeTime != null" >
        active_time = #{activeTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="weizu.flowsys.entity.AgencyActiveChannelPo" >
    update agency_activechannel
    set agency_id = #{agencyId,jdbcType=INTEGER},
      channel_id = #{channelId,jdbcType=INTEGER},
      agency_name = #{agencyName,jdbcType=VARCHAR},
      channel_name = #{channelName,jdbcType=VARCHAR},
      active_time = #{activeTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update> -->
</mapper>