<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weizu.flowsys.web.trade.dao.AgencyPurchaseDao">
	<sql id="t_ap">agency_purchase</sql>
  <resultMap id="BaseResultMap" type="com.weizu.flowsys.web.trade.pojo.AgencyPurchasePo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="agency_id" property="agencyId" jdbcType="INTEGER" />
    <result column="purchase_id" property="purchaseId" jdbcType="BIGINT" />
    <result column="rate_discount_id" property="rateDiscountId" jdbcType="BIGINT" />
    <result column="order_amount" property="orderAmount" jdbcType="DOUBLE" />
    <result column="bill_type" property="billType" jdbcType="INTEGER" />
    <result column="order_state" property="orderState" jdbcType="INTEGER" />
    <result column="order_state_detail" property="orderStateDetail" jdbcType="VARCHAR" />
    <result column="order_platform_path" property="orderPlatformPath" jdbcType="INTEGER" />
    <result column="order_price" property="orderPrice" jdbcType="DOUBLE" />
    <result column="from_agency_name" property="fromAgencyName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, agency_id, purchase_id, rate_discount_id, order_amount, bill_type, order_state,order_platform_path,order_state_detail, order_price, from_agency_name 
  </sql>
  <sql id="Add_Column_List" >
   agency_id, purchase_id, rate_discount_id, order_amount, bill_type, order_state,,order_state_detail, order_platform_path, order_price, from_agency_name
  </sql>
  <!-- 批量添加 -->
   <insert id="ap_addList" useGeneratedKeys="true" parameterType="java.util.List">
  	insert into <include refid="t_ap"></include>
  	(<include refid="Add_Column_List"></include>)
  	values
  	<foreach collection="list" item="ap" index="index" separator=",">
  		(#{ap.agencyId},#{ap.purchaseId},#{ap.rateDiscountId},#{ap.orderAmount},#{ap.billType},#{ap.orderState},#{ap.orderState},#{ap.orderStateDetail},#{ap.orderPlatformPath},#{ap.orderPrice},#{ap.fromAgencyName})
  	</foreach>
  </insert>
</mapper>