<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.weizu.flowsys.web.agency.dao.ChargeRecordDaoInterface">

<!-- <sql id="t_agency">agency_backward</sql> -->
<sql id="t_account">charge_account</sql>
<sql id="t_record">charge_record</sql>
<sql id="t_ap">account_purchase</sql>
<sql id="t_purchase">purchase</sql>

   <resultMap id="BaseResultMap" type="com.weizu.flowsys.web.agency.pojo.ChargeRecordPo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="remittance_time" jdbcType="BIGINT" property="remittanceTime" />
    <result column="recharge_amount" jdbcType="DOUBLE" property="rechargeAmount" />
    <result column="charge_before" jdbcType="DOUBLE" property="chargeBefore" />
    <result column="charge_after" jdbcType="DOUBLE" property="chargeAfter" />
    <!-- <result column="bill_type" jdbcType="INTEGER" property="billType" /> -->
    <result column="account_type" jdbcType="INTEGER" property="accountType" />
    <result column="account_id" jdbcType="INTEGER" property="accountId" />
    <!-- <result column="account_id" jdbcType="INTEGER" property="accountId" /> -->
    <result column="purchase_id" jdbcType="BIGINT" property="purchaseId" />
    <result column="charge_for" jdbcType="INTEGER" property="chargeFor" />
  </resultMap>
  <sql id="Base_Column_List">
    id, remittance_time, recharge_amount, charge_before, charge_after, account_type, 
    account_id,purchase_id, charge_for
  </sql>
  <sql id="BatchAdd_Column_List">
    remittance_time, recharge_amount, charge_before, charge_after,  account_type, 
    account_id, purchase_id, charge_for
  </sql>
  
   <!-- 批量添加充值记录 -->
  <insert id="crt_addList" parameterType="java.util.List" useGeneratedKeys="true">
  	insert into <include refid="t_record"></include>
  	(<include refid="BatchAdd_Column_List"></include>)
  	values
  	<foreach collection="list" item="crt" index="index" separator=",">
  		(#{crt.remittanceTime},#{crt.rechargeAmount},#{crt.chargeBefore},#{crt.chargeAfter},
  		#{crt.accountType},#{crt.accountId},#{crt.purchaseId},#{crt.chargeFor})
  	</foreach>
  </insert>
  
   <resultMap id="OtherMap" type="com.weizu.flowsys.web.agency.pojo.ChargeRecordPo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="remittance_time" jdbcType="BIGINT" property="remittanceTime" />
    <result column="recharge_amount" jdbcType="DOUBLE" property="rechargeAmount" />
    <result column="charge_before" jdbcType="DOUBLE" property="chargeBefore" />
    <result column="charge_after" jdbcType="DOUBLE" property="chargeAfter" />
    <result column="bill_type" jdbcType="INTEGER" property="billType" />
    <result column="account_type" jdbcType="INTEGER" property="accountType" />
    <result column="account_id" jdbcType="INTEGER" property="accountId" />
    <!-- <result column="account_id" jdbcType="INTEGER" property="accountId" /> -->
    <result column="purchase_id" jdbcType="BIGINT" property="purchaseId" />
    <result column="charge_for" jdbcType="INTEGER" property="chargeFor" />
    <result column="agency_name" jdbcType="VARCHAR" property="userName" />
  </resultMap>
  <sql id="other_Column_List">
    record.id, remittance_time, recharge_amount, charge_before, charge_after,  account_type, 
    account_id, account_id, purchase_id, charge_for, act.agency_name,act.bill_type
  </sql>
  
  <!-- 消费记录 -->
   <resultMap id="ConsumeRecordMap" type="com.weizu.flowsys.web.agency.pojo.ConsumeRecordPo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="remittance_time" jdbcType="BIGINT" property="remittanceTime" />
    <result column="recharge_amount" jdbcType="DOUBLE" property="rechargeAmount" />
    <result column="charge_before" jdbcType="DOUBLE" property="chargeBefore" />
    <result column="charge_after" jdbcType="DOUBLE" property="chargeAfter" />
    <result column="bill_type" jdbcType="INTEGER" property="billType" />
    <result column="account_type" jdbcType="INTEGER" property="accountType" />
    <result column="account_id" jdbcType="INTEGER" property="accountId" />
    <!-- <result column="account_id" jdbcType="INTEGER" property="accountId" /> -->
    <result column="charge_for" jdbcType="INTEGER" property="chargeFor" />
    <result column="purchase_id" jdbcType="BIGINT" property="purchaseId" />
    <result column="from_agency_name" property="userName" />
    <result column="charge_tel" property="chargeTel" />
  </resultMap>
  <sql id="Consume_Column_List">
    <!-- crt.*,pc.charge_tel,act.bill_type -->
    crt.id,crt.remittance_time,crt.recharge_amount,crt.charge_before,crt.charge_after,crt.account_type,crt.account_id,crt.charge_for
	,b.purchase_id,b.from_agency_name,b.charge_tel,b.bill_type
  </sql>
  <!-- 代理商订单消费统计 -->
   <resultMap id="GroupAgencyRecordMap" type="com.weizu.flowsys.web.agency.pojo.GroupAgencyRecordPo">
    <result column="total_amount" jdbcType="DOUBLE" property="totalAmount" />
    <result column="bill_type" jdbcType="INTEGER" property="billType" />
    <result column="account_type" jdbcType="INTEGER" property="accountType" />
    <result column="account_id" jdbcType="INTEGER" property="accountId" />
    <result column="numb" jdbcType="INTEGER" property="numb" />
    <result column="agency_name" jdbcType="VARCHAR" property="agencyName" />
  </resultMap>
  <sql id="group_Agency_List">
    act.agency_name,act.id account_id,act.bill_type,crt.account_type,
	COUNT(*) as numb, round(sum(crt.recharge_amount),4) total_amount
  </sql>
  <!-- 代理商订单消费统计 -->
  <select id="groupAgencyRecord" parameterType="map" resultMap="GroupAgencyRecordMap">
  	select <include refid="group_Agency_List"></include>
  	FROM <include refid="t_record"></include> crt
  	INNER JOIN <include refid="t_ap"></include> ap
	on ap.record_id=crt.id
	inner join <include refid="t_account"></include> act
	<!-- on act.id=crt.account_id -->
	on ap.account_id=act.id
	<where>
		crt.purchase_id is not NULL
		<if test="supperAgencyId != null">
			AND act.supper_agency_id=#{supperAgencyId}
		</if>
		<if test="billType != null">
			AND act.bill_type=#{billType}
		</if>
		<if test="chargeFor != null">
			AND crt.charge_for=#{chargeFor}
		</if>
		<if test="accountType != null">
			AND crt.account_type=#{accountType}
		</if>
		<if test="startTime != null">
			AND remittance_time &gt;= #{startTime}
		</if>
		<if test="userName != null"><!-- 超管模式，获得子代理商的账户消费信息 -->
			AND act.agency_name LIKE CONCAT('%', TRIM(#{userName}), '%')
		</if>
		
		<if test="endTime != null">
			AND crt.remittance_time &lt;= #{endTime}
		</if>
	</where>
	GROUP BY act.id,crt.account_type
	HAVING numb &gt; 0
  </select>
  
  <!-- 查询充值列表 -->
  <select id="listChargeRecord" parameterType="com.weizu.flowsys.web.agency.pojo.ChargeRecordPo" resultMap="OtherMap">
  	select <include refid="other_Column_List"></include> 
  	from <include refid="t_record"></include> record
  	inner join <include refid="t_account"></include> act
  	on record.account_id = act.id
  	<where>
  		<include refid="condition_sql"></include>
  	</where>
  	order by remittance_time desc 
  	<!-- order by -->
  		<if test="start != null">
   		 	limit #{start}
   		 </if>
  		<if test="end != null">
   		 	, #{end}
   		 </if>
   		 <if test="start == null &amp; end == null">
   		 	limit 0,10
   		 </if> 
  </select>
  <select id="countRecord" parameterType="map" resultType="int">
  	select count(*)
  	from   <include refid="t_record"></include> record
  	inner join <include refid="t_account"></include> act
  	on record.account_id = act.id
  	<where>
  		<include refid="condition_sql"></include>
  	</where>
  </select>
  <!-- 查询where语句块 -->
	<sql id="condition_sql">
		<if test="userName != null">
			AND act.agency_name LIKE CONCAT('%', TRIM(#{userName}), '%')
		</if>
		<if test="accountType != null">
			AND account_type = #{accountType}
		</if>
		<if test="accountId != null">
			AND record.account_id = #{accountId}
		</if>
		<if test="contextAgencyId != null">
			AND act.agency_id = #{contextAgencyId}
		</if>
		<!-- <choose>
			<when test=""></when>
		</choose> -->
		<!-- <if test="contextAgencyId != null">
			AND (agency.id = #{contextAgencyId} OR agency.roott_accountid = #{contextAgencyId})
		</if> -->
		
		<if test="startTime != null">
			AND remittance_time &gt;= #{startTime}
		</if>
		<if test="endTime != null">
			AND remittance_time &lt;= #{endTime}
		</if>
	</sql>
	<!-- 查询消费列表 -->
  <select id="countConsume" parameterType="map" resultType="int">	
  	select count(*) 
  	from <include refid="t_record"></include> crt
	INNER JOIN 
	(select ap.purchase_id, ap.record_id,pc.charge_tel, act.bill_type
	<choose>
  		<when test="supperAgencyId != null">
		  	,act.agency_name from_agency_name
  		</when>
  		<otherwise>
		  	,ap.from_agency_name
  		</otherwise>
  	</choose>
	from <include refid="t_ap"></include> ap
  	inner join <include refid="t_purchase"></include> pc
  	on ap.purchase_id=pc.order_id
	INNER join <include refid="t_account"></include> act
	on ap.account_id=act.id
	<where>
		<if test="agencyId != null">
			act.agency_id=#{agencyId}
		</if>
		<if test="supperAgencyId != null">
			act.supper_agency_id=#{supperAgencyId}
		</if>
		<if test="userName != null"><!-- 超管模式，获得子代理商的账户消费信息 -->
			AND ap.from_agency_name LIKE CONCAT('%', TRIM(#{userName}), '%')
		</if>
		<if test="billType != null">
			AND act.bill_type = #{billType}
		</if>
		
		<if test="purchaseId != null">
			AND pc.order_id = #{purchaseId}
		</if>
		<if test="chargeTel != null">
			AND pc.charge_tel LIKE CONCAT('%', TRIM(#{chargeTel}), '%')
		</if>
	</where>
	) b
	ON crt.id=b.record_id
	<where>
		<include refid="consume_condition_sql"></include>
	</where>
  </select>
  <select id="getConsume" parameterType="map" resultMap="ConsumeRecordMap">	
  	select <include refid="Consume_Column_List"></include>
  	from <include refid="t_record"></include> crt
	INNER JOIN 
	(select ap.purchase_id, ap.record_id,pc.charge_tel, act.bill_type
	<choose>
  		<when test="supperAgencyId != null">
		  	,act.agency_name from_agency_name
  		</when>
  		<otherwise>
		  	,ap.from_agency_name
  		</otherwise>
  	</choose>
	from <include refid="t_ap"></include> ap
  	inner join <include refid="t_purchase"></include> pc
  	on ap.purchase_id=pc.order_id
	INNER join <include refid="t_account"></include> act
	on ap.account_id=act.id
	<where>
		<if test="agencyId != null">
			act.agency_id=#{agencyId}
		</if>
		<if test="supperAgencyId != null">
			act.supper_agency_id=#{supperAgencyId}
		</if>
		<if test="userName != null"><!-- 超管模式，获得子代理商的账户消费信息 -->
			AND ap.from_agency_name LIKE CONCAT('%', TRIM(#{userName}), '%')
		</if>
		<if test="billType != null">
			AND act.bill_type = #{billType}
		</if>
		
		<if test="purchaseId != null">
			AND pc.order_id = #{purchaseId}
		</if>
		<if test="chargeTel != null">
			AND pc.charge_tel LIKE CONCAT('%', TRIM(#{chargeTel}), '%')
		</if>
	</where>
	) b
	ON crt.id=b.record_id
	<where>
		<include refid="consume_condition_sql"></include>
	</where>
  	
  	
  	<!-- <choose>
  		<when test="supperAgencyId != null">
		  	,act.agency_name from_agency_name
  		</when>
  		<otherwise>
		  	,ap.from_agency_name
  		</otherwise>
  	</choose>
  	from <include refid="t_record"></include> crt
	INNER JOIN <include refid="t_ap"></include> ap
	on ap.record_id=crt.id
  	inner join <include refid="t_purchase"></include> pc
  	on ap.purchase_id=pc.order_id
	INNER join <include refid="t_account"></include> act
	on crt.account_id=act.id
	<where>
		<include refid="consume_condition_sql"></include>
	</where> -->
	order by crt.remittance_time desc, crt.account_type desc
  	<!-- order by -->
	<if test="start != null">
		 	limit #{start}
		 </if>
	<if test="end != null">
	 	, #{end}
	 </if>
  </select>
  <sql id="consume_condition_sql">
		<if test="accountId != null">
			AND crt.account_id=#{accountId}
			<!--  and ap.account_id=#{accountId} -->
		</if>
		<if test="chargeFor != null">
			AND crt.charge_for = #{chargeFor}
			<!--  and ap.account_id=#{accountId} -->
		</if>
		<!-- <if test="agencyId == null &amp; contextAgencyId != null">
			AND (agb.id = #{contextAgencyId} OR agb.root_agency_id = #{contextAgencyId})
		</if> -->
		<!-- <choose>
			<when test="agencyId != null">AND agb.id = #{agencyId}</when>
			<when test="agencyId == null &amp; contextAgencyId != null">
				获得当前登录用户的记录和登录用户的子代理商的记录
				AND (crt.id = #{contextAgencyId} OR agb.root_agency_id = #{contextAgencyId})
			</when>
		</choose> -->
		
		<choose>
			<when test="accountType == null">
				AND (account_type = 1 or account_type = 2)
			</when>
			<otherwise>
				AND account_type = #{accountType}
			</otherwise>
		</choose>
		
		<if test="startTime != null">
			AND crt.remittance_time &gt;= #{startTime}
		</if>
		<if test="endTime != null">
			AND crt.remittance_time &lt;= #{endTime}
		</if>
		
	</sql>
</mapper>