<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weizu.flowsys.web.agency.dao.CompanyCredentialsDao">
	<resultMap type="com.weizu.flowsys.web.agency.pojo.CompanyCredentialsPo" id="BaseResultMap">
		<id column="id" property="id" jdbcType="INTEGER" />
	    <result column="agency_id" property="agencyId" jdbcType="INTEGER" />
	    <result column="confirm_agency_id" property="confirmAgencyId" jdbcType="INTEGER" />
	    <result column="confirm_state" property="confirmState" jdbcType="INTEGER" />
	    <result column="business_executive_name" property="businessExecutiveName" jdbcType="VARCHAR" />
	    <result column="be_tel" property="beTel" jdbcType="VARCHAR" />
	    <result column="emergency_contact" property="emergencyContact" jdbcType="VARCHAR" />
	    <result column="ec_tel" property="ecTel" jdbcType="VARCHAR" />
	    <result column="company_address" property="companyAddress" jdbcType="VARCHAR" />
	    <result column="taxpayer_is_qualification" property="taxpayerIsQualification" jdbcType="INTEGER" />
	    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
	    <result column="company_location" property="companyLocation" jdbcType="VARCHAR" />
	    <result column="corporate_tel" property="corporateTel" jdbcType="VARCHAR" />
	    <result column="deposit_bank_name" property="depositBankName" jdbcType="VARCHAR" />
	    <result column="bank_account" property="bankAccount" jdbcType="VARCHAR" />
	    <result column="tax_registration_certificate" property="taxRegistrationCertificate" jdbcType="VARCHAR" />
	    <result column="billing_content" property="billingContent" jdbcType="VARCHAR" />
	    <result column="info_service_fee" property="infoServiceFee" jdbcType="DOUBLE" />
	    <result column="bill_recipients_name" property="billRecipientsName" jdbcType="VARCHAR" />
	    <result column="bill_recipients_tel" property="billRecipientsTel" jdbcType="VARCHAR" />
	    <result column="bill_recipients_address" property="billRecipientsAddress" jdbcType="VARCHAR" />
	    <result column="business_license" property="businessLicense" jdbcType="VARCHAR" />
	    <result column="deposit_bank_photo" property="depositBankPhoto" jdbcType="VARCHAR" />
	    <result column="corporate_identity_front" property="corporateIdentityFront" jdbcType="VARCHAR" />
	    <result column="corporate_identity_back" property="corporateIdentityBack" jdbcType="VARCHAR" />
	    <result column="commit_time" property="commitTime" jdbcType="BIGINT" />
	    <result column="confirm_time" property="confirmTime" jdbcType="BIGINT" />
	</resultMap>
	<sql id="Base_Column_List" >
	    id, agency_id, confirm_agency_id, confirm_state, business_executive_name, be_tel, 
	    emergency_contact, ec_tel, company_address, taxpayer_is_qualification, company_name, 
	    company_location, corporate_tel, deposit_bank_name, bank_account, tax_registration_certificate, 
	    billing_content, info_service_fee, bill_recipients_name, bill_recipients_tel, bill_recipients_address, 
	    business_license, deposit_bank_photo, corporate_identity_front, corporate_identity_back, commit_time, confirm_time
	  </sql>
	
</mapper>