<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weizu.flowsys.web.trade.dao.PurchaseDao" >
  <sql id="t_purchase">purchase</sql>
  <sql id="t_ap">agency_purchase</sql>
  <sql id="t_agency">agency_backward</sql>
  <sql id="t_pg">operator_pg_data</sql>
  <!-- <sql id="t_channel">channel_channel</sql>
  <sql id="t_ep">exchange_platform</sql> -->
  
  
  <resultMap id="BaseResultMap" type="com.weizu.flowsys.web.trade.pojo.PurchasePo" >
    <id column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="order_id_api" property="orderIdApi" jdbcType="VARCHAR" />
    <result column="order_id_from" property="orderIdFrom" jdbcType="VARCHAR" />
    <result column="agency_id" property="agencyId" jdbcType="INTEGER" />
    <result column="charge_tel" property="chargeTel" jdbcType="VARCHAR" />
    <result column="pg_id" property="pgId" jdbcType="INTEGER" />
    <result column="order_arrive_time" property="orderArriveTime" jdbcType="BIGINT" />
    <result column="order_back_time" property="orderBackTime" jdbcType="BIGINT" />
    <result column="charge_tel_detail" property="chargeTelDetail" jdbcType="VARCHAR" />
    <result column="charge_tel_city" property="chargeTelCity" jdbcType="VARCHAR" />
    <result column="order_platform_path" property="orderPlatformPath" jdbcType="INTEGER" />
    <result column="order_result" property="orderResult" jdbcType="INTEGER" />
    <result column="order_result_detail" property="orderResultDetail" jdbcType="VARCHAR" />
    <result column="channel_name" property="channelName" jdbcType="BIGINT" />
    <result column="order_amount" property="orderAmount" jdbcType="DOUBLE" />
    <result column="bill_type" property="billType" jdbcType="INTEGER" />
  </resultMap>
  <!--  订单页面 -->
  <resultMap id="VOResultMap" type="com.weizu.flowsys.web.trade.pojo.PurchaseVO" >
    <id column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="agency_id" property="agencyId" jdbcType="INTEGER" />
    <result column="order_id_api" property="orderIdApi" jdbcType="VARCHAR" />
    <result column="order_id_from" property="orderIdFrom" jdbcType="VARCHAR" />
    <result column="charge_tel" property="chargeTel" jdbcType="VARCHAR" />
    <result column="pg_size" property="pgSize" />
    <result column="order_result" property="orderResult" jdbcType="INTEGER" />
    <result column="order_result_detail" property="orderResultDetail" jdbcType="VARCHAR" />
    <result column="operator_type" property="operatorType" />
    <result column="pg_price" property="pgPrice" />
    <!-- 连接表信息 -->
    <result column="order_arrive_time" property="orderArriveTime" jdbcType="BIGINT" />
    <result column="order_back_time" property="orderBackTime" jdbcType="BIGINT" />
    <result column="charge_tel_detail" property="chargeTelDetail" jdbcType="VARCHAR" />
    <result column="charge_tel_city" property="chargeTelCity" jdbcType="VARCHAR" />
    <result column="order_platform_path" property="orderPlatformPath" jdbcType="INTEGER" />
    <result column="from_agency_name" property="agencyName" jdbcType="VARCHAR" />
    <result column="order_state" property="orderState" jdbcType="INTEGER" />
    <result column="order_state_detail" property="orderStateDetail" jdbcType="VARCHAR" />
    <result column="ap_order_amount" property="orderAmount" jdbcType="DOUBLE" />
    <result column="order_price" property="orderPrice" jdbcType="DOUBLE" />
    <result column="channel_name" property="channelName" jdbcType="VARCHAR" />
    <result column="apBill_type" property="billType" jdbcType="INTEGER" />
    <result column="rate_discount_id" property="rateDiscountId" jdbcType="BIGINT" />
    
    <!-- 平台相关信息 -->
    <!-- <result column="id" jdbcType="INTEGER" property="ep.id" />
    <result column="ep_name" jdbcType="VARCHAR" property="ep.epName" />
    <result column="ep_purchase_ip" jdbcType="VARCHAR" property="ep.epPurchaseIp" />
    <result column="product_list_ip" jdbcType="VARCHAR" property="ep.productListIp" />
    <result column="pgdata_check_ip" jdbcType="VARCHAR" property="ep.pgdataCheckIp" />
    <result column="ep_balance_ip" jdbcType="VARCHAR" property="ep.epBalanceIp" />
    <result column="ep_user_name" jdbcType="VARCHAR" property="ep.epUserName" />
    <result column="ep_user_pass" jdbcType="VARCHAR" property="ep.epUserPass" />
    <result column="ep_balance" jdbcType="DOUBLE" property="ep.epBalance" />
    <result column="ep_apikey" jdbcType="VARCHAR" property="ep.epApikey" />
    <result column="ep_eng_id" jdbcType="VARCHAR" property="ep.epEngId" />
    <result column="ep_call_back" jdbcType="INTEGER" property="ep.epCallBack" />
    <result column="ep_ip" jdbcType="VARCHAR" property="ep.epIp" /> -->
    
  </resultMap>
   <sql id="Base_Column_List" >
    order_id,order_id_api, order_id_from, agency_id, charge_tel, pg_id, order_amount, order_arrive_time,charge_tel_detail, 
    charge_tel_city,  channel_name 
  </sql>
   <sql id="get_base_Column_List" >
    order_id,order_id_api, order_id_from, ap.agency_id,ap.order_state order_result,ap.order_state_detail order_result_detail, pur.charge_tel, pg_id, ap.order_amount, order_arrive_time,charge_tel_detail, 
    charge_tel_city,  channel_name 
  </sql>
  <sql id="VO_Column_List"><!-- 订单页面 -->
  	ap.from_agency_name,ap.agency_id, pur.order_id, pur.order_id_api, pur.order_id_from, pur.charge_tel, pg.pg_size, pg.operator_type, pg.pg_price, pur.order_arrive_time,
  	pur.order_back_time, pur.charge_tel_detail, pur.charge_tel_city,ap.order_amount ap_order_amount,ap.order_price,pur.order_result,ap.order_state,ap.order_state_Detail,ap.order_platform_path,
  	 pur.order_result_detail,pur.channel_name,ap.bill_type apBill_type,ap.rate_discount_id
  </sql>
  
  
  <!-- 统计信息 -->
  <resultMap type="com.weizu.flowsys.web.trade.pojo.TotalResult" id="totalResultMap">
  	<result column="total_amount" jdbcType="DOUBLE" property="totalAmount"/>
  	<result column="total_price" jdbcType="DOUBLE" property="totalPrice"/>
  	<!-- <result column="total_cost" jdbcType="DOUBLE" property="totalCost"/> -->
  	<result column="total_records" jdbcType="DOUBLE" property="totalRecords"/>
  </resultMap>
  
  <sql id="Total_Result_Column_List">
  	round(sum(pg.pg_price),2) total_price, round(sum(ap.order_price),4) total_amount,<!-- FORMAT(sum(ap.order_amount),4) total_cost, --> count(*) total_records
  </sql>
  <!-- 查询统计信息 -->
  <select id="getTotalResultFromSuccess" parameterType="map" resultMap="totalResultMap">
  	select <include refid="Total_Result_Column_List"></include>
  	from <include refid="t_purchase"></include> pur
  	inner join <include refid="t_ap"></include> ap
  	ON pur.order_id = ap.purchase_id
  	<!-- inner join <include refid="t_channel"></include> channel
	on pur.channel_id = channel.id -->
  	inner join <include refid="t_pg"></include> pg
  	on pg.id = pur.pg_id
  	<where>
  		<include refid="condition_sql"></include>
  	</where>
  </select>
  
  <!-- 通过订单号查询订单 -->
  <select id="getOnePurchase" parameterType="java.lang.Long" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"></include>
  	from <include refid="t_purchase"></include>
  	where order_id = #{_parameter}
  </select>
  <!-- 查询代理商订单 -->
  <select id="getMyPurchase" parameterType="map" resultMap="BaseResultMap">
  	select <include refid="get_base_Column_List"></include>
  	from <include refid="t_purchase"></include> pur
  	inner join <include refid="t_ap"></include> ap
     on pur.order_id = ap.purchase_id
     <where>
     	<if test="purchaseId != null">
     		AND ap.purchase_id = #{purchaseId}
     	</if>
     	<if test="agencyId != null">
     		AND ap.agency_id = #{agencyId}
     	</if>
     </where>
  </select>
  
  <!-- 查询订单分页 -->
   <select id="getPurchase" resultMap="VOResultMap" parameterType="map" >
    select 
    <include refid="VO_Column_List" />
     FROM <include refid="t_purchase"></include> pur
	 inner join <include refid="t_ap"></include> ap
     on pur.order_id = ap.purchase_id
	<!-- INNER join <include refid="t_agency"></include> agency
	on ap.agency_id=agency.id -->
	INNER join <include refid="t_pg"></include> pg
	on pg.id = pur.pg_id
	<!-- inner join <include refid="t_channel"></include> channel
	on pur.channel_id = channel.id
	inner join <include refid="t_ep"></include> ep
	on channel.ep_id = ep.id -->
    <where>
    	<include refid="condition_sql"></include>
    </where>
    <choose>
    	<when test="endTimeBack != null">
    		order by order_back_time desc,order_arrive_time DESC 
    	</when>
    	<when test="endTimeBack == null">
		  	order by order_arrive_time DESC,order_back_time desc 
    	</when>
    </choose>
    <if test="start != null">
	 	limit #{start}
	 </if>
	<if test="end != null">
	 	, #{end}
	 </if>
	 <!-- <if test="start == null &amp; end == null">
	 	limit 0,10
	 </if> -->
  </select>
  
  
  <!-- updatePurState更新订单状态 -->
  <update id="updatePurState" parameterType="com.weizu.flowsys.web.trade.pojo.PurchaseStateParams">	
  	update <include refid="t_purchase"></include>
  	<set>
  		<if test="orderBackTime != null">
  			order_back_time = #{orderBackTime},
  		</if>
  		<if test="orderIdApi != null">
  			order_id_api = trim(#{orderIdApi}),
  		</if>
  		<if test="orderResult != null">
  			order_result = #{orderResult},
  		</if>
  		<if test="orderResultDetail != null">
  			order_result_detail = #{orderResultDetail}
  		</if>
  	</set>
  	<where>order_id = #{orderId}</where>
  </update>
  
  <!-- 根据参数订单总记录数 -->
  <select id="countPurchase" resultType="java.lang.Integer" parameterType="map" >
    select 
    count(*)
     FROM <include refid="t_purchase"></include> pur
     inner join <include refid="t_ap"></include> ap
     on pur.order_id = ap.purchase_id
	<!-- INNER join <include refid="t_agency"></include> agency
	on ap.agency_id=agency.id -->
	INNER join <include refid="t_pg"></include> pg
	on pg.id = pur.pg_id
	<!-- inner join <include refid="t_channel"></include> channel
	on pur.channel_id = channel.id -->
    <where>
    	<include refid="condition_sql"></include>
    </where>
  </select>
  <sql id="condition_sql">
  	<if test="chargeTel != null">
  		AND pur.charge_tel LIKE concat("%",trim(#{chargeTel}) ,"%") 
  	</if>
  	<!-- <if test="rootAgencyId != null">
  		AND (pur.root_agency_id = #{rootAgencyId} OR pur.agency_id = #{rootAgencyId} ) 
  	</if> -->
  	<if test="agencyId != null">
  		AND ap.agency_id = #{agencyId}
  	</if>
<!--   	<if test="agencyId != null">
  		AND (agency.id = #{agencyId} OR agency.root_agency_id = #{agencyId}) 
  	</if> -->
  	<if test="billType != null">
  		AND ap.bill_type = #{billType}
  	</if>
  	<if test="agencyName != null">
  		AND ap.from_agency_name LIKE concat("%",trim(#{agencyName}) ,"%") 
  	</if>
  	<if test="orderId != null">
  		AND pur.order_id LIKE concat("%",trim(#{orderId}) ,"%")
  	</if>
  	<if test="chargeTelDetail != null">
  		AND pur.charge_tel_detail LIKE concat("%",trim(#{chargeTelDetail}) ,"%")
  	</if>
  	<if test="operatorType != null">
  		AND pg.operator_type = #{operatorType}
  	</if>
  	<if test="channelName != null">
  		AND pur.channel_name LIKE concat("%",trim(#{channelName}) ,"%")
  	</if>
  	<if test="startTime != null">
		AND pur.order_arrive_time &gt;= #{startTime}
	</if>
	<if test="endTime != null">
		AND pur.order_arrive_time &lt;= #{endTime}
	</if>
  	<if test="startTimeBack != null">
		AND pur.order_back_time &gt;= #{startTimeBack}
	</if>
	<if test="endTimeBack != null">
		AND pur.order_back_time &lt;= #{endTimeBack}
	</if>
	<if test="orderResult != null">
		AND pur.order_result = #{orderResult}
	</if>
	<if test="orderState != null">
		AND ap.order_state = #{orderState}
	</if>
  </sql>
  
  <insert id="addPurchase" parameterType="com.weizu.flowsys.web.trade.pojo.PurchasePo">
  	insert into <include refid="t_purchase"></include>
  	( <include refid="Base_Column_List"></include> )
  	values (#{orderId},#{orderIdApi},#{orderIdFrom},#{agencyId},#{chargeTel},#{pgId},#{orderAmount},#{orderArriveTime},
  	#{chargeTelDetail},#{chargeTelCity},#{channelName})
  </insert>
  
</mapper>