<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weizu.flowsys.web.activity.dao.RateDiscountDao" >
  <sql id="t_rateD">rate_discount</sql>
<sql id="t_cDiscount">channel_discount</sql>
   <!--  <sql id="t_aac_join">aac_join_rd</sql> 
  <sql id="t_active">agency_active_rate</sql> -->
  
  <resultMap id="BaseResultMap" type="com.weizu.flowsys.web.activity.pojo.RateDiscountPo" >
    <id column="id" property="id" jdbcType="BIGINT" />
   <result column="operator_type" property="operatorType" jdbcType="INTEGER" />
    <result column="service_type" property="serviceType" jdbcType="INTEGER" />
    <result column="scope_city_code" property="scopeCityCode" jdbcType="VARCHAR" />
    <result column="bill_type" property="billType" jdbcType="INTEGER" />
    <result column="active_discount" property="activeDiscount" jdbcType="DOUBLE" />
    <result column="active_id" property="activeId" jdbcType="BIGINT" />
    <result column="channel_discount_id" property="channelDiscountId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    rate.id, cDiscount.operator_type, cDiscount.scope_city_code, active_discount,channel_discount_id,rate.bill_type
  </sql>
  <!-- 批量添加费率折扣 -->
   <!-- <insert id="rate_addList" useGeneratedKeys="true" parameterType="java.util.List">
  	insert into <include refid="t_rateD"></include>
  	(operator_type,service_type, scope_city_code, active_discount, active_id)
  	values
  	<foreach collection="list" separator="," item="rateD" index="index">
  		(#{rateD.operatorType},#{rateD.serviceType},#{rateD.scopeCityCode},#{rateD.activeDiscount},
  		#{rateD.activeId})
  	</foreach>
  </insert> -->
  
  <!-- 通过通道折扣查询简易折扣列表 -->
  <resultMap id="SimpleMap" type="com.weizu.flowsys.web.activity.pojo.RateDiscountPo">
  	 <id column="id" property="id" jdbcType="BIGINT" />
  	 <result column="active_discount" property="activeDiscount" jdbcType="DOUBLE" />
  	 <result column="bill_type" property="billType" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="simple_column_list">
  	id, active_discount,bill_type
  </sql>
  <select id="getListByCDiscountId" parameterType="map" resultMap="SimpleMap">
  	select <include refid="simple_column_list"></include>
  	from <include refid="t_rateD"></include>
  	<where>
  		<if test="channelDiscountId != null">
	  		AND channel_discount_id = #{channelDiscountId}
  		</if>
  		<if test="billTypeRate != null">
	  		AND bill_type = #{billTypeRate}
  		</if>
  	</where>
  </select>
  
  <!-- 查询是否存在该折扣 -->
  <select id="countDiscountList" parameterType="map" resultType="long">
  	select count(*)
  	from <include refid="t_rateD"></include>
  	<where>
  		<if test="channelDiscountId != null">
	  		AND channel_discount_id = #{channelDiscountId}
  		</if>
  		<if test="activeDiscount != null">
	  		AND active_discount = #{activeDiscount}
  		</if>
  		<if test="billTypeRate != null">
	  		AND bill_type = #{billTypeRate}
  		</if>
  	</where>
  </select>
  
  
  <!-- 获得所有折扣信息 -->
  <select id="getRateDiscountList" resultMap="BaseResultMap" parameterType="com.weizu.flowsys.web.activity.pojo.RateDiscountPo">
  	select <include refid="Base_Column_List"></include>
  	from <include refid="t_rateD"></include> rate
  	inner join <include refid="t_cDiscount"></include> cDiscount
  	on rate.channel_discount_id = cDiscount.id
  	<where>
  		<include refid="condition_sql"></include>
  	</where>
  	order by cDiscount.scope_city_code desc
  </select>
  <!-- 获得所有地区信息 -->
  <!-- <select id="getDistinctScope" resultType="list" parameterType="com.weizu.flowsys.web.activity.pojo.RateDiscountPo">
  	select distinct(rate.scope_city_code)
  	from <include refid="t_rateD"></include> rate
  	inner join <include refid="t_aac_join"></include> aac
  	on rate.id = aac.rate_discount_id 
  	inner join <include refid="t_active"></include> active
  	on aac.active_id = active.id
  	<where>
  		<include refid="condition_sql"></include>
  	</where>
  	order by rate.scope_city_code,active.active_time desc
  </select> -->
  <!-- 获得分页费率列表信息 -->
 <!--  <select id="getDiscountList" resultMap="BaseResultMap" parameterType="map">
  	select <include refid="Base_Column_List"></include>
  	from <include refid="t_rateD"></include> rate
  	inner join <include refid="t_aac_join"></include> aac
  	on rate.id = aac.rate_discount_id 
  	inner join <include refid="t_active"></include> active
  	on aac.active_id = active.id
  	<where>
  		<include refid="condition_sql"></include>
  	</where>
  	order by active.id
  	<if test="start != null">
	 	limit #{start}
	 </if>
	 <if test="end != null">
	 	, #{end}
	 </if>
	 <if test="start == null &amp; end == null">
	 	limit 0,10
	 </if>
  </select> -->
  
  <update id="updateRateDiscount" parameterType="map">
  	update <include refid="t_rateD"></include>
  	set active_discount = #{activeDiscount}
  	<where>
  		id = #{id}
  	</where>
  </update>
  
  <sql id="condition_sql">
  	<if test="operatorType != null">
  		AND cDiscount.operator_type = #{operatorType}
  	</if>
  	<if test="scopeCityCode != null">
  		AND cDiscount.scope_city_code = #{scopeCityCode}
  	</if>
  	<if test="serviceType != null">
  		AND cDiscount.service_type = #{serviceType}
  	</if>
  	<if test="activeDiscount != null">
  		AND rate.active_discount = #{activeDiscount}
  	</if>
  	<if test="channelId != null">
  		AND cDiscount.channel_id = #{channelId}
  	</if>
  	<if test="billType != null">
  		AND rate.bill_type = #{billType}
  	</if>
  	<!-- <if test="agencyId != null">
  		AND active.agency_id = #{agencyId}
  	</if> -->
  	<if test="channelDiscountId != null">
  		AND cDiscount.channel_discount_id = #{channelDiscountId}
  	</if>
  </sql>
 <!--  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from rate_discount
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from rate_discount
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="weizu.flowsys.entity.RateDiscountPo" >
    insert into rate_discount (id, operator_type, scope_city_code, 
      active_discount, active_channel_id)
    values (#{id,jdbcType=BIGINT}, #{operatorType,jdbcType=INTEGER}, #{scopeCityCode,jdbcType=VARCHAR}, 
      #{activeDiscount,jdbcType=DOUBLE}, #{activeChannelId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="weizu.flowsys.entity.RateDiscountPo" >
    insert into rate_discount
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="operatorType != null" >
        operator_type,
      </if>
      <if test="scopeCityCode != null" >
        scope_city_code,
      </if>
      <if test="activeDiscount != null" >
        active_discount,
      </if>
      <if test="activeChannelId != null" >
        active_channel_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="operatorType != null" >
        #{operatorType,jdbcType=INTEGER},
      </if>
      <if test="scopeCityCode != null" >
        #{scopeCityCode,jdbcType=VARCHAR},
      </if>
      <if test="activeDiscount != null" >
        #{activeDiscount,jdbcType=DOUBLE},
      </if>
      <if test="activeChannelId != null" >
        #{activeChannelId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="weizu.flowsys.entity.RateDiscountPo" >
    update rate_discount
    <set >
      <if test="operatorType != null" >
        operator_type = #{operatorType,jdbcType=INTEGER},
      </if>
      <if test="scopeCityCode != null" >
        scope_city_code = #{scopeCityCode,jdbcType=VARCHAR},
      </if>
      <if test="activeDiscount != null" >
        active_discount = #{activeDiscount,jdbcType=DOUBLE},
      </if>
      <if test="activeChannelId != null" >
        active_channel_id = #{activeChannelId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="weizu.flowsys.entity.RateDiscountPo" >
    update rate_discount
    set operator_type = #{operatorType,jdbcType=INTEGER},
      scope_city_code = #{scopeCityCode,jdbcType=VARCHAR},
      active_discount = #{activeDiscount,jdbcType=DOUBLE},
      active_channel_id = #{activeChannelId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update> -->
</mapper>