<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weizu.flowsys.web.activity.dao.RateDiscountDao" >
  <sql id="t_rateD">rate_discount</sql>
<sql id="t_cDiscount">channel_discount</sql>
   <!--  <sql id="t_aac_join">aac_join_rd</sql> -->
  <sql id="t_active">account_active_rate</sql> 
  <sql id="t_cnel">channel_channel</sql> 
  <sql id="t_account">charge_account</sql>
  <sql id="t_pg">operator_pg_data</sql>
 	<sql id="t_cbp">cnel_bind_pg</sql>
  
  <resultMap id="BaseResultMap" type="com.weizu.flowsys.web.activity.pojo.RateDiscountPo" >
    <id column="id" property="id" jdbcType="BIGINT" />
   <result column="operator_type" property="operatorType" jdbcType="INTEGER" />
    <result column="service_type" property="serviceType" jdbcType="INTEGER" />
    <result column="scope_city_code" property="scopeCityCode" jdbcType="VARCHAR" />
    <result column="special_tag" property="specialTag" jdbcType="VARCHAR" />
    <result column="bill_type" property="billType" jdbcType="INTEGER" />
    <result column="active_discount" property="activeDiscount" jdbcType="DOUBLE" />
    <result column="active_id" property="activeId" jdbcType="BIGINT" />
    <result column="channel_discount_id" property="channelDiscountId" jdbcType="BIGINT" />
    <result column="channel_id" property="channelId" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="MyRateResultMap" type="com.weizu.flowsys.web.activity.pojo.RateDiscountPo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="bill_type" property="billType" jdbcType="INTEGER" />
    <result column="active_discount" property="activeDiscount" jdbcType="DOUBLE" />
    <result column="active_id" property="activeId" jdbcType="BIGINT" />
    <result column="channel_discount_id" property="channelDiscountId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    rate.id, cDiscount.operator_type, cDiscount.scope_city_code, active_discount,channel_discount_id,rate.bill_type,rate.channel_id
  </sql>
  
  <sql id="Show_Rate_List">
  	b.active_discount,b.id,b.active_time,b.operator_type,b.service_type,b.scope_city_code,b.channel_id,b.channel_discount_id,b.bill_type,b.active_id,b.special_tag
  </sql>
  <sql id="Get_My_Rate">
  	rate.id, rate.active_id,active.active_time, channel_discount_id,rate.active_discount,rate.bill_type,cd.operator_type,cd.service_type,cd.scope_city_code,rate.channel_id,cnel.special_tag 
  </sql>
  <sql id="My_Rate_List">
  	rate.id, rate.active_id, active_discount,channel_discount_id,rate.bill_type 
  </sql>
  <!-- 根据包体id通道id获得绑定的折扣 -->
  <select id="getPriceByPg" parameterType="map" resultMap="MyRateResultMap">
  	select <include refid="My_Rate_List"></include> 
  	from <include refid="t_rateD"></include> rate
	INNER JOIN <include refid="t_active"></include> aar
	on aar.rate_discount_id=rate.id
	INNER JOIN <include refid="t_account"></include> act
	on aar.account_id=act.id
	INNER JOIN <include refid="t_cnel"></include> chnel
	on chnel.id = rate.channel_id
	INNER JOIN <include refid="t_cbp"></include> cbp
	on cbp.channel_id=chnel.id
	<where>
		<if test="agencyId != null">
			AND act.agency_id = #{agencyId}
		</if>
		<if test="channelId != null">
			AND rate.channel_id = #{channelId}
		</if>
		<if test="channelUseState != null">
			AND chnel.channel_use_state = #{channelUseState}
		</if>
		<if test="bindState != null">
			AND aar.bind_state = #{bindState}
		</if>
		<if test="pgId != null">
			AND cbp.pg_id=#{pgId}
		</if>
		<!-- AND rate.channel_id IN
		(
			SELECT cbp.channel_id from <include refid="t_cbp"></include> cbp
			INNER JOIN <include refid="t_cnel"></include> chnel
			ON chnel.id=cbp.channel_id
			<where> 
				<if test="pgId != null">
					AND cbp.pg_id=#{pgId}
				</if>
				<if test="channelUseState != null">
					AND chnel.channel_use_state=#{channelUseState}
				</if>
			</where>
		)  -->
	</where>
  </select>
  <!-- 递归删除所有子折扣 -->
  <delete id="delRateByIteratorFun" parameterType="long">
  	DELETE FROM <include refid="t_rateD"></include> where FIND_IN_SET(id,rateQueryChildrenInfo(#{_parameter}));
  </delete>
  
  <!-- 根据通道折扣差额修改费率折扣 -->
  <update id="updateRateDiscountByCDId" parameterType="map">
  	update <include refid="t_rateD"></include>
  	<set>
  		<if test="editDiscount != null">
	  		active_discount = TRUNCATE(active_discount + #{editDiscount} , 3)
  		</if>
  	</set>
  	<where>
  		<if test="channelDiscountId != null">
  			channel_discount_id = #{channelDiscountId}
  		</if>
  	</where>
  </update>
  
  
  
  <!-- 通过代理商id和通道折扣id获得绑定的费率id -->
  <!-- 获得子费率列表 -->
   <select id="getMyChildRate" parameterType="map" resultMap="MyRateResultMap">
  	select <include refid="My_Rate_List"></include>
  	from <include refid="t_active"></include> active
  	inner join <include refid="t_rateD"></include> rate
  	ON active.rate_discount_id=rate.id
 	<where>
 		<if test="accountId != null">
 			AND active.account_id = #{accountId}
 		</if>
 		<if test="activeId != null">
 			AND  rate.active_id = #{activeId}
 		</if>
 		<if test="bindState != null">
 			AND active.bind_state = #{bindState}
 		</if>
 		<if test="channelDiscountId != null">
 			AND  rate.channel_discount_id = #{channelDiscountId}
 		</if>
 	</where>
  </select>
  
  
  <!-- 获得首页折扣信息 -->
  <select id="getShowRate" parameterType="map" resultMap="BaseResultMap">
  	select <include refid="Show_Rate_List"></include>
  	from (select <include refid="Get_My_Rate"></include>
	  	from <include refid="t_active"></include> active
	  	INNER join <include refid="t_account"></include> act
		on active.account_id=act.id
	  	inner join <include refid="t_rateD"></include> rate
	  	ON active.rate_discount_id=rate.id
	  	INNER JOIN <include refid="t_cDiscount"></include> cd
	 	on rate.channel_discount_id=cd.id
	 	INNER JOIN <include refid="t_cnel"></include> cnel
	 	on cnel.id=cd.channel_id
	 	<where>
	 		<if test="agencyId != null">
	 			AND act.agency_id = #{agencyId}
	 		</if>
	 		<if test="billType != null">
	 			AND rate.bill_type = #{billType}
	 		</if>
	 		<if test="serviceType != null">
	 			AND cd.service_type = #{serviceType}
	 		</if>
	 		<if test="bindState != null">
	 			AND active.bind_state = #{bindState}
	 		</if>
	 		<if test="channelUseState != null">
	 			AND cnel.channel_use_state = #{channelUseState}
	 		</if>
	 	</where>
	 	order by active.active_time DESC) b 
	 	<!-- GROUP BY b.scope_city_code -->
  </select>
  <!-- 超管获得首页折扣信息 -->
 <!--  <select id="getRootShowRate" parameterType="map" resultMap="BaseResultMap">
  	select <include refid="Show_Rate_List"></include>
  	from (select <include refid="Get_My_Rate"></include>
	  	from <include refid="t_active"></include> active
	  	INNER join <include refid="t_account"></include> act
		on active.account_id=act.id
	  	inner join <include refid="t_rateD"></include> rate
	  	ON active.rate_discount_id=rate.id
	  	INNER JOIN <include refid="t_cDiscount"></include> cd
	 	on rate.channel_discount_id=cd.id
	 	INNER JOIN <include refid="t_cnel"></include> cnel
	 	on cnel.id=cd.channel_id
	 	<where>
	 		<if test="agencyId != null">
	 			AND act.agency_id = #{agencyId}
	 		</if>
	 		<if test="billType != null">
	 			AND rate.bill_type = #{billType}
	 		</if>
	 		<if test="serviceType != null">
	 			AND cd.service_type = #{serviceType}
	 		</if>
	 		<if test="bindState != null">
	 			AND active.bind_state = #{bindState}
	 		</if>
	 		<if test="channelUseState != null">
	 			AND cnel.channel_use_state = #{channelUseState}
	 		</if>
	 	</where>
	 	order by active.active_time DESC) b 
	 	GROUP BY b.scope_city_code
  </select> -->
  
  <!-- 获得充值的折扣 -->
  <select id="getRateForCharge" parameterType="map" resultMap="BaseResultMap">
  	select <include refid="Show_Rate_List"></include>
  	from (select <include refid="Get_My_Rate"></include>
	  	from <include refid="t_active"></include> active
	  	INNER join <include refid="t_account"></include> act
		on active.account_id=act.id
	  	inner join <include refid="t_rateD"></include> rate
	  	ON active.rate_discount_id=rate.id
	  	INNER JOIN <include refid="t_cDiscount"></include> cd
	 	on rate.channel_discount_id=cd.id
	  	INNER JOIN <include refid="t_cnel"></include> cnel
	 	on cnel.id=cd.channel_id
	 	INNER JOIN <include refid="t_cbp"></include> cbp
		on cbp.channel_id=cnel.id
	 	INNER JOIN <include refid="t_pg"></include> opd
		on cbp.pg_id=opd.id
	 	<where>
	 		<include refid="tripple_table_sql"></include>
	 	</where>
	 	order by active.active_time DESC) b 
	 	<!-- GROUP BY b.scope_city_code -->
  </select>
  
  <!-- 通过代理商id找到它绑定的通道id -->
  <select id="getChannelByAgency" parameterType="map" resultType="long" >
  	SELECT rte.channel_id
  	 FROM <include refid="t_rateD"></include>  rte
	 INNER JOIN <include refid="t_active"></include> aar 
	 on rte.id = aar.rate_discount_id
	 INNER JOIN <include refid="t_account"></include> act
	 on act.id=aar.account_id
	 <where>
	 	<if test="#{agencyId != null}">
	 		act.agency_id=#{agencyId}
	 	</if>
	 </where>
  </select>
  
  <!-- 查看代理商是否在某一通道上已经配置了该地区的折扣 -->
  <select id="getScopeExceptionForRate" parameterType="map" resultType="int">
  	select count(*)
  	from <include refid="t_active"></include> active
  	INNER join <include refid="t_account"></include> act
	on active.account_id=act.id
  	inner join <include refid="t_rateD"></include> rate
  	ON active.rate_discount_id=rate.id
  	INNER JOIN <include refid="t_cDiscount"></include> cd
 	on rate.channel_discount_id=cd.id
 	INNER JOIN <include refid="t_cnel"></include> cnel
 	on cnel.id=cd.channel_id
 	INNER JOIN <include refid="t_cbp"></include> cbp
	on cbp.channel_id=cnel.id
 	INNER JOIN <include refid="t_pg"></include> opd
	on cbp.pg_id=opd.id
 	<where>
 		<include refid="tripple_table_sql"></include>
 	</where>
  </select>
  <!-- 三表连接的查询条件 -->
  <sql id="tripple_table_sql">
  	AND cnel.id IN 
	(SELECT cbg.channel_id from <include refid="t_pg"></include> opd
	INNER JOIN <include refid="t_cbp"></include> cbg
	on cbg.pg_id=opd.id 
	<where>
		<if test="pgType != null">
			AND opd.pg_type=#{pgType}
		</if>
		<if test="pgValidity != null">
			AND opd.pg_validity=#{pgValidity}
		</if>
	</where>)
  	 <if test="accountId != null">
		AND active.account_id = #{accountId}
	</if>
  	 <if test="pgSize != null">
		AND opd.pg_size = #{pgSize}
	</if>
  	 <if test="agencyId != null">
		AND act.agency_id = #{agencyId}
	</if>
  	 <if test="bindState != null">
		AND active.bind_state = #{bindState}
	</if>
	<!-- <if test="billTypeRate != null">费率类型
		AND rate.bill_type = #{billTypeRate}
	</if> -->
	<if test="channelId != null"><!-- 费率类型 -->
		AND rate.channel_id = #{channelId}
	</if>
	<if test="channelType != null">
  		AND cd.channel_type = #{channelType}
  	</if>
	<if test="operatorType != null">
 		AND cd.operator_type = #{operatorType}
 	</if>
 	<if test="scopeCityCode != null">
 		AND cd.scope_city_code = #{scopeCityCode}
 	</if>
 	<if test="serviceType != null">
 		AND cd.service_type = #{serviceType}
 	</if>
 	<if test="channelUseState != null">
 		AND cnel.channel_use_state = #{channelUseState}
 	</if>
 	<if test="channelState != null">
 		AND cnel.channel_state = #{channelState}
 	</if>
  </sql>
  <!-- 下级给下级费率配置列表 -->
  <select id="getMyRate" parameterType="map" resultMap="BaseResultMap">
  	select <include refid="Show_Rate_List"></include>
  	from (select <include refid="Get_My_Rate"></include>
  	from <include refid="t_active"></include> active
  	INNER join <include refid="t_account"></include> act
	on active.account_id=act.id
  	inner join <include refid="t_rateD"></include> rate
  	ON active.rate_discount_id=rate.id
  	INNER JOIN <include refid="t_cDiscount"></include> cd
 	on rate.channel_discount_id=cd.id
 	INNER JOIN <include refid="t_cnel"></include> cnel
 	on cnel.id=cd.channel_id
 	<where>
 		<if test="accountId != null">
 			AND active.account_id = #{accountId}
 		</if>
 		<if test="agencyId != null">
 			AND act.agency_id = #{agencyId}
 		</if>
 		<if test="bindState != null">
 			AND active.bind_state = #{bindState}
 		</if>
 		<if test="channelUseState != null">
 			AND cnel.channel_use_state = #{channelUseState}
 		</if>
 	</where>
 	order by active.active_time DESC) b 
 	GROUP BY b.scope_city_code,b.service_type
 	<if test="start != null">
	 	limit #{start}
	 </if>
	 <if test="end != null">
	 	, #{end}
	 </if>
	 <if test="start == null &amp; end == null">
	 	limit 0,10
	 </if>
  </select>
  <select id="countMyRate" parameterType="map" resultType="int">
  	select count(*) from (select <include refid="Show_Rate_List"></include>
  	from (select <include refid="Get_My_Rate"></include>
  	from <include refid="t_active"></include> active
  	INNER join <include refid="t_account"></include> act
	on active.account_id=act.id
  	inner join <include refid="t_rateD"></include> rate
  	ON active.rate_discount_id=rate.id
  	INNER JOIN <include refid="t_cDiscount"></include> cd
 	on rate.channel_discount_id=cd.id
 	INNER JOIN <include refid="t_cnel"></include> cnel
 	on cnel.id=cd.channel_id
 	<where>
 		<if test="agencyId != null">
 			AND act.agency_id = #{agencyId}
 		</if>
 		<if test="accountId != null">
 			AND act.account_id = #{accountId}
 		</if>
 		<if test="bindState != null">
 			AND active.bind_state = #{bindState}
 		</if>
 		<if test="channelUseState != null">
 			AND cnel.channel_use_state = #{channelUseState}
 		</if>
 	</where>
 	order by active.active_time DESC) b 
 	GROUP BY b.scope_city_code,b.service_type) c
  </select>
  <!-- 批量添加费率折扣 -->
   <!-- <insert id="rate_addList" useGeneratedKeys="true" parameterType="java.util.List">
  	insert into <include refid="t_rateD"></include>
  	(operator_type,service_type, scope_city_code, active_discount, active_id)
  	values
  	<foreach collection="list" separator="," item="rateD" index="index">
  		(#{rateD.operatorType},#{rateD.serviceType},#{rateD.scopeCityCode},#{rateD.activeDiscount},
  		#{rateD.activeId})
  	</foreach>
  </insert> -->
  
  <!-- 通过通道折扣查询简易折扣列表 -->
  <resultMap id="SimpleMap" type="com.weizu.flowsys.web.activity.pojo.RateDiscountPo">
  	 <id column="id" property="id" jdbcType="BIGINT" />
  	 <result column="active_discount" property="activeDiscount" jdbcType="DOUBLE" />
  	 <result column="bill_type" property="billType" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="simple_column_list">
  	id, active_discount,bill_type
  </sql>
  <select id="getListByCDiscountId" parameterType="map" resultMap="SimpleMap">
  	select <include refid="simple_column_list"></include>
  	from <include refid="t_rateD"></include> 
  	<where>
  		<if test="channelDiscountId != null">
	  		AND channel_discount_id = #{channelDiscountId}
  		</if>
  		<if test="billTypeRate != null">
	  		AND bill_type = #{billTypeRate}
  		</if>
  			<!-- 直接绑定通道折扣id的费率折扣 -->
  		<if test="activeId != null">
	  		AND active_id = #{activeId}
  		</if>
  		<if test="activeId == null">
	  		AND active_id is null
  		</if>
  	</where>
  </select>
  
  <!-- 查询是否存在该折扣 -->
  <select id="countDiscountList" parameterType="map" resultType="long">
  	select count(*)
  	from <include refid="t_rateD"></include>
  	<where>
  		<if test="channelDiscountId != null">
	  		AND channel_discount_id = #{channelDiscountId}
  		</if>
  		<if test="id != null">
	  		AND id = #{id}
  		</if>
  		<if test="activeId != null">
	  		AND active_id = #{activeId}
  		</if>
  		<if test="activeId == null">
	  		AND active_id is null
  		</if>
  		<if test="activeDiscount != null">
	  		AND active_discount = #{activeDiscount}
  		</if>
  		<if test="billTypeRate != null">
	  		AND bill_type = #{billTypeRate}
  		</if>
  	</where>
  </select>
  
  
  <!-- 获得所有折扣信息 -->
  <select id="getRateDiscountList" resultMap="BaseResultMap" parameterType="com.weizu.flowsys.web.activity.pojo.RateDiscountPo">
  	select <include refid="Base_Column_List"></include>
  	from <include refid="t_rateD"></include> rate
  	inner join <include refid="t_cDiscount"></include> cDiscount
  	on rate.channel_discount_id = cDiscount.id
  	<where>
  		<include refid="condition_sql"></include>
  	</where>
  	order by cDiscount.scope_city_code desc
  </select>
  <!-- 获得所有地区信息 -->
  <!-- <select id="getDistinctScope" resultType="list" parameterType="com.weizu.flowsys.web.activity.pojo.RateDiscountPo">
  	select distinct(rate.scope_city_code)
  	from <include refid="t_rateD"></include> rate
  	inner join <include refid="t_aac_join"></include> aac
  	on rate.id = aac.rate_discount_id 
  	inner join <include refid="t_active"></include> active
  	on aac.active_id = active.id
  	<where>
  		<include refid="condition_sql"></include>
  	</where>
  	order by rate.scope_city_code,active.active_time desc
  </select> -->
  <!-- 获得分页费率列表信息 -->
 <!--  <select id="getDiscountList" resultMap="BaseResultMap" parameterType="map">
  	select <include refid="Base_Column_List"></include>
  	from <include refid="t_rateD"></include> rate
  	inner join <include refid="t_aac_join"></include> aac
  	on rate.id = aac.rate_discount_id 
  	inner join <include refid="t_active"></include> active
  	on aac.active_id = active.id
  	<where>
  		<include refid="condition_sql"></include>
  	</where>
  	order by active.id
  	<if test="start != null">
	 	limit #{start}
	 </if>
	 <if test="end != null">
	 	, #{end}
	 </if>
	 <if test="start == null &amp; end == null">
	 	limit 0,10
	 </if>
  </select> -->
  
  <update id="updateRateDiscount" parameterType="map">
  	update <include refid="t_rateD"></include>
  	set active_discount = #{activeDiscount}
  	<where>
  		id = #{id}
  	</where>
  </update>
  
  <sql id="condition_sql">
  	<if test="operatorType != null">
  		AND cDiscount.operator_type = #{operatorType}
  	</if>
  	<if test="scopeCityCode != null">
  		AND cDiscount.scope_city_code = #{scopeCityCode}
  	</if>
  	<if test="serviceType != null">
  		AND cDiscount.service_type = #{serviceType}
  	</if>
  	<if test="activeDiscount != null">
  		AND rate.active_discount = #{activeDiscount}
  	</if>
  	<if test="channelId != null">
  		AND cDiscount.channel_id = #{channelId}
  	</if>
  	<if test="billType != null">
  		AND rate.bill_type = #{billType}
  	</if>
  	<!-- <if test="agencyId != null">
  		AND active.agency_id = #{agencyId}
  	</if> -->
  	<if test="channelDiscountId != null">
  		AND cDiscount.channel_discount_id = #{channelDiscountId}
  	</if>
  </sql>
 <!--  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from rate_discount
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from rate_discount
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="weizu.flowsys.entity.RateDiscountPo" >
    insert into rate_discount (id, operator_type, scope_city_code, 
      active_discount, active_channel_id)
    values (#{id,jdbcType=BIGINT}, #{operatorType,jdbcType=INTEGER}, #{scopeCityCode,jdbcType=VARCHAR}, 
      #{activeDiscount,jdbcType=DOUBLE}, #{activeChannelId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="weizu.flowsys.entity.RateDiscountPo" >
    insert into rate_discount
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="operatorType != null" >
        operator_type,
      </if>
      <if test="scopeCityCode != null" >
        scope_city_code,
      </if>
      <if test="activeDiscount != null" >
        active_discount,
      </if>
      <if test="activeChannelId != null" >
        active_channel_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="operatorType != null" >
        #{operatorType,jdbcType=INTEGER},
      </if>
      <if test="scopeCityCode != null" >
        #{scopeCityCode,jdbcType=VARCHAR},
      </if>
      <if test="activeDiscount != null" >
        #{activeDiscount,jdbcType=DOUBLE},
      </if>
      <if test="activeChannelId != null" >
        #{activeChannelId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="weizu.flowsys.entity.RateDiscountPo" >
    update rate_discount
    <set >
      <if test="operatorType != null" >
        operator_type = #{operatorType,jdbcType=INTEGER},
      </if>
      <if test="scopeCityCode != null" >
        scope_city_code = #{scopeCityCode,jdbcType=VARCHAR},
      </if>
      <if test="activeDiscount != null" >
        active_discount = #{activeDiscount,jdbcType=DOUBLE},
      </if>
      <if test="activeChannelId != null" >
        active_channel_id = #{activeChannelId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="weizu.flowsys.entity.RateDiscountPo" >
    update rate_discount
    set operator_type = #{operatorType,jdbcType=INTEGER},
      scope_city_code = #{scopeCityCode,jdbcType=VARCHAR},
      active_discount = #{activeDiscount,jdbcType=DOUBLE},
      active_channel_id = #{activeChannelId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update> -->
</mapper>