<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weizu.flowsys.web.channel.dao.ITelChannelDao" >
  <sql id="t_tel_product">tel_product</sql>
  <sql id="t_cities">cities</sql>
  <sql id="t_provinces">provinces</sql>
  <sql id="t_telchannel">telchannel</sql>
  <sql id="t_telrate">tel_rate</sql>
  
   <sql id="t_tba">telrate_bind_account</sql>
  <sql id="t_cat">charge_account</sql>
  
  <resultMap type="com.weizu.flowsys.web.channel.pojo.TelChannelPo" id="BaseResultMap">
  	<id column="id" property="id" jdbcType="BIGINT" />
    <result column="bill_type" property="billType" jdbcType="INTEGER" />
    <result column="telchannel_discount" property="telchannelDiscount" jdbcType="DOUBLE" />
    <result column="telchannel_total_profit" property="telchannelTotalProfit" jdbcType="DOUBLE" />
    <result column="telchannel_total_amount" property="telchannelTotalAmount" jdbcType="DOUBLE" />
    <result column="telchannel_total_use" property="telchannelTotalUse" jdbcType="INTEGER" />
    <result column="telchannel_state" property="telchannelState" jdbcType="INTEGER" />
    <result column="telchannel_use_state" property="telchannelUseState" jdbcType="INTEGER" />
    <result column="tel_product_id" property="telProductId" jdbcType="BIGINT" />
    <result column="last_access" property="lastAccess" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List">
  	bill_type, telchannel_discount, telchannel_total_profit, telchannel_total_amount, telchannel_total_use, telchannel_state, telchannel_use_state, tel_product_id,last_access
  </sql>
   <!-- 话费通道批量添加 -->
  <insert id="batchAddTelChannel" useGeneratedKeys="true" parameterType="java.util.List">
  	insert into <include refid="t_telchannel"></include>
  	(<include refid="Base_Column_List"></include>)
  	values
  	<foreach collection="list" separator="," item="telChannel" index="index">
  		(#{telChannel.billType},#{telChannel.telchannelDiscount},#{telChannel.telchannelTotalProfit},#{telChannel.telchannelTotalAmount},
  		#{telChannel.telchannelTotalUse},#{telChannel.telchannelState},#{telChannel.telchannelUseState},#{telChannel.telProductId},#{telChannel.lastAccess})
  	</foreach>
  </insert>
  
  <!-- 话费通道页面 -->
  <resultMap type="com.weizu.flowsys.web.channel.pojo.TelChannelParams" id="VOResultMap">
  	<id column="id" property="id" jdbcType="BIGINT" />
    <result column="bill_type" property="billType" jdbcType="INTEGER" />
    <result column="telchannel_discount" property="telchannelDiscount" jdbcType="DOUBLE" />
    <!-- <result column="telchannel_total_profit" property="channelTotalProfit" jdbcType="DOUBLE" />
    <result column="telchannel_total_amount" property="channelTotalAmount" jdbcType="DOUBLE" />
    <result column="telchannel_total_use" property="channelTotalUse" jdbcType="INTEGER" /> -->
    <result column="telchannel_state" property="telchannelState" jdbcType="INTEGER" />
    <result column="telchannel_use_state" property="telchannelUseState" jdbcType="INTEGER" />
    <result column="last_access" property="lastAccess" jdbcType="BIGINT" />
    <result column="rate_for_platform" property="rateForPlatform" jdbcType="INTEGER" />
    <!-- 话费编码 -->
    <result column="charge_speed" property="chargeSpeed" jdbcType="INTEGER" />
    <result column="charge_value" property="chargeValue" jdbcType="INTEGER" />
    <result column="ep_name" property="epName" jdbcType="VARCHAR" />
    <result column="free_charge" property="freeCharge" jdbcType="INTEGER" />
    <result column="limit_description" property="limitDescription" jdbcType="VARCHAR" />
    <result column="service_type" property="serviceType" jdbcType="INTEGER" />
    <result column="operator_name" property="operatorName" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="VO_Column_List">
  	td.id,td.bill_type,td.last_access,td.telchannel_discount,td.telchannel_state,td.telchannel_use_state,td.rate_for_platform,
	tp.charge_speed,tp.charge_value,tp.ep_name,tp.free_charge,tp.limit_description,tp.service_type,tp.operator_name
	<if test="serviceType == 1 ">,pc.province</if> <!-- 省内和市内 -->
  	<if test="serviceType == 2">,pc.province,ct.city</if><!-- 市内 -->
  </sql>
  <!-- 话费通道页面 -->
  <resultMap type="com.weizu.flowsys.web.channel.pojo.TelChannelParams" id="MyVOResultMap">
  	<id column="id" property="id" jdbcType="BIGINT" />
    <result column="bill_type" property="billType" jdbcType="INTEGER" />
    <result column="active_discount" property="telchannelDiscount" jdbcType="DOUBLE" />
    <result column="rate_for" property="rateFor" jdbcType="INTEGER" />
    <result column="rate_for_platform" property="rateForPlatform" jdbcType="INTEGER" />
    <!-- <result column="telchannel_total_profit" property="channelTotalProfit" jdbcType="DOUBLE" />
    <result column="telchannel_total_amount" property="channelTotalAmount" jdbcType="DOUBLE" />
    <result column="telchannel_total_use" property="channelTotalUse" jdbcType="INTEGER" /> -->
    <!-- <result column="telchannel_state" property="telchannelState" jdbcType="INTEGER" />
    <result column="telchannel_use_state" property="telchannelUseState" jdbcType="INTEGER" />
    <result column="last_access" property="lastAccess" jdbcType="BIGINT" /> -->
    <!-- 话费编码 -->
    <result column="charge_speed" property="chargeSpeed" jdbcType="INTEGER" />
    <result column="charge_value" property="chargeValue" jdbcType="INTEGER" />
    <result column="ep_name" property="epName" jdbcType="VARCHAR" />
    <result column="free_charge" property="freeCharge" jdbcType="INTEGER" />
    <result column="limit_description" property="limitDescription" jdbcType="VARCHAR" />
    <result column="service_type" property="serviceType" jdbcType="INTEGER" />
    <result column="operator_name" property="operatorName" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="MyVO_Column_List">
  	tt.id,tt.bill_type,tt.active_discount,tt.rate_for,
	tp.charge_speed,tp.charge_value,tp.ep_name,tp.free_charge,tp.limit_description,tp.service_type,tp.operator_name
	<if test="serviceType == 1 ">,pc.province</if> <!-- 省内和市内 -->
  	<if test="serviceType == 2">,pc.province,ct.city</if><!-- 市内 -->
  </sql>
  
  
  
  <!-- 统计我的话费通道总记录 -->
  <select id="countMyTelChannel" parameterType="map" resultType="long">
  	select count(*) FROM <include refid="t_telrate"></include> tt
	INNER JOIN <include refid="t_telchannel"></include> td
	on tt.telchannel_id=td.id
	INNER JOIN <include refid="t_tel_product"></include> tp
	on td.tel_product_id=tp.id
	<if test="serviceType == 1">
		INNER JOIN <include refid="t_provinces"></include> pc
		on pc.provinceid=tp.provinceid
	</if>
	<if test="serviceType == 2 ">
		INNER JOIN <include refid="t_provinces"></include> pc
		on pc.provinceid=tp.provinceid
		INNER JOIN <include refid="t_cities"></include> ct
		on ct.cityid=tp.cityid
	</if>
	<where>
		<include refid="my_conditon_sql"></include>
	</where>
  </select>
  <!-- 查询我的话费通道列表 -->
  <select id="getMyTelChannel" parameterType="map" resultMap="MyVOResultMap">
  	select <include refid="MyVO_Column_List"></include>
  	FROM <include refid="t_telrate"></include> tt
	INNER JOIN <include refid="t_telchannel"></include> td
	on tt.telchannel_id=td.id
	INNER JOIN <include refid="t_tel_product"></include> tp
	on td.tel_product_id=tp.id
	<if test="serviceType == 1">
		INNER JOIN <include refid="t_provinces"></include> pc
		on pc.provinceid=tp.provinceid
	</if>
	<if test="serviceType == 2 ">
		INNER JOIN <include refid="t_provinces"></include> pc
		on pc.provinceid=tp.provinceid
		INNER JOIN <include refid="t_cities"></include> ct
		on ct.cityid=tp.cityid
	</if>
	<where>
		<include refid="my_conditon_sql"></include>
	</where>
	order by tt.id desc
    <if test="start != null">
	 	limit #{start}
	 </if>
	<if test="end != null">
	 	, #{end}
	 </if>
  </select>
   <!-- 查询我的话费通道 -->
  <sql id="my_conditon_sql">
  	<!-- <if test="platformUser != null">
		 AND tt.rate_for = #{platformUser}
	</if> -->
	<if test="platformUser != null">
		 AND tt.rate_for = #{platformUser}
		AND tt.id NOT IN(
			SELECT tt2.id from <include refid="t_telrate"></include> tt2
			INNER JOIN <include refid="t_tba"></include> tba
			on tt2.id = tba.tel_rate_id
			INNER JOIN <include refid="t_cat"></include> cat
			on cat.id=tba.account_id
			<where>
				<if test="agencyId != null">
					AND cat.agency_id = #{agencyId}
				</if>
				<if test="bind != null">
					AND tba.bind_state = #{bind}
				</if>
				<if test="negative != null">
					AND tba.bind_side = #{negative}
				</if>
	<!-- 		AND tba.bind_state=1 and tba.bind_side = 0 -->
		</where>)
	</if>
	<if test="provinceid != null">
		AND tp.provinceid = #{provinceid}
	</if>
	<if test="cityid != null">
		AND tp.cityid = #{cityid}
	</if>
	<if test="useOpen != null">
		AND td.telchannel_use_state = #{useOpen}
	</if>
	<if test="chargeSpeed != null">
  		AND tp.charge_speed = #{chargeSpeed}
  	</if>
  	<if test="serviceType != null">
  		AND tp.service_type = #{serviceType}
  	</if>
  	<if test="operatorName != null">
  		AND tp.operator_name = #{operatorName}
  	</if>
  	<if test="billType != null">
  		AND tt.bill_type = #{billType}
  	</if>
  	<if test="rateForPlatform != null">
  		AND tt.rate_for_platform = #{rateForPlatform}
  	</if>
  	<if test="agencyId != null">
		AND tt.create_agency = #{agencyId}
	</if>
  	
  	<!-- <if test="epId != null">
  		AND tp.ep_id = #{epId}
  	</if> -->
  	<if test="chargeValue != null">
  		AND tp.charge_value = #{chargeValue}
  	</if>
  	<if test="limitDescription != null">
  		AND tp.limit_description like concat('%',trim(#{limitDescription}),'%')
  	</if>
  	<if test="epName != null">
  		AND tp.ep_name like concat("%",trim(#{epName}),"%")
  	</if>
  	<if test="dataUser != null">
	  	AND tt.id in(
	  		SELECT tt3.id from <include refid="t_telrate"></include> tt3
	  		INNER JOIN <include refid="t_telchannel"></include> tc2
			on tt3.telchannel_id=tc2.id
			INNER JOIN <include refid="t_tba"></include> tba2
			on tt3.id = tba2.tel_rate_id
			INNER JOIN <include refid="t_cat"></include> cat
			on cat.id=tba2.account_id
			<where>
				AND tt3.rate_for = #{dataUser} 
				<if test="agencyId != null">
					AND cat.agency_id = #{agencyId}
				</if>
				<if test="bind != null">
					AND tba2.bind_state = #{bind}
				</if>
				<if test="positive != null">
					AND tba2.bind_side = #{positive}
				</if>
				<if test="useOpen != null">
					AND tc2.telchannel_use_state = #{useOpen}
				</if>
			</where>)
	</if>
  </sql>
  
  
  <!-- 统计话费通道总记录 -->
  <select id="countTelChanenl" parameterType="map" resultType="long">
  	select count(*) FROM <include refid="t_telchannel"></include> td
	INNER JOIN <include refid="t_tel_product"></include> tp
	on td.tel_product_id=tp.id
	<if test="serviceType == 1">
		INNER JOIN <include refid="t_provinces"></include> pc
		on pc.provinceid=tp.provinceid
	</if>
	<if test="serviceType == 2 ">
		INNER JOIN <include refid="t_provinces"></include> pc
		on pc.provinceid=tp.provinceid
		INNER JOIN <include refid="t_cities"></include> ct
		on ct.cityid=tp.cityid
	</if>
	<where>
		<include refid="conditon_sql"></include>
	</where>
  </select>
  <!-- 查询话费通道列表 -->
  <select id="getTelChannel" parameterType="map" resultMap="VOResultMap">
  	select <include refid="VO_Column_List"></include>
    FROM <include refid="t_telchannel"></include> td
	INNER JOIN <include refid="t_tel_product"></include> tp
	on td.tel_product_id=tp.id
	<if test="serviceType == 1">
		INNER JOIN <include refid="t_provinces"></include> pc
		on pc.provinceid=tp.provinceid
	</if>
	<if test="serviceType == 2 ">
		INNER JOIN <include refid="t_provinces"></include> pc
		on pc.provinceid=tp.provinceid
		INNER JOIN <include refid="t_cities"></include> ct
		on ct.cityid=tp.cityid
	</if>
	<where>
		<include refid="conditon_sql"></include>
	</where>
	order by td.id desc
    <if test="start != null">
	 	limit #{start}
	 </if>
	<if test="end != null">
	 	, #{end}
	 </if>
	 <if test="start == null &amp; end == null">
	 	limit 0,10
	 </if>
  </select>
  <!-- 通过id和ServiceType获得通道的(含地区)详细信息 -->
  <select id="selectByIdType" parameterType="map"  resultMap="VOResultMap">
  	select <include refid="VO_Column_List"></include>
    FROM <include refid="t_telchannel"></include> td
	INNER JOIN <include refid="t_tel_product"></include> tp
	on td.tel_product_id=tp.id
	<if test="serviceType == 1">
		INNER JOIN <include refid="t_provinces"></include> pc
		on pc.provinceid=tp.provinceid
	</if>
	<if test="serviceType == 2 ">
		INNER JOIN <include refid="t_provinces"></include> pc
		on pc.provinceid=tp.provinceid
		INNER JOIN <include refid="t_cities"></include> ct
		on ct.cityid=tp.cityid
	</if>
	<where>
		<if test="id != null">
	  		AND td.id = #{id}
	  	</if>
		<if test="serviceType != null">
	  		AND tp.service_type = #{serviceType}
	  	</if>
	</where>
	</select>
  <!-- 超管查询话费通道 -->
  <sql id="conditon_sql">
  	<if test="telProductId != null">
  		AND td.tel_product_id = #{telProductId}
  	</if>
  	<if test="billType != null">
  		AND td.bill_type = #{billType}
  	</if>
  	<if test="telchannelState != null">
  		AND td.telchannel_state = #{telchannelState}
  	</if>
  	<if test="telchannelUseState != null">
  		AND td.telchannel_use_state = #{telchannelUseState}
  	</if>
  	<!-- <if test="epId != null">
  		AND tp.ep_id = #{epId}
  	</if> -->
  	<if test="chargeValue != null">
  		AND tp.charge_value = #{chargeValue}
  	</if>
  	<if test="cityid != null">
  		AND tp.cityid = #{cityid}
  	</if>
  	<if test="provinceid != null">
  		AND tp.provinceid = #{provinceid}
  	</if>
  	<if test="chargeSpeed != null">
  		AND tp.charge_speed = #{chargeSpeed}
  	</if>
  	<if test="serviceType != null">
  		AND tp.service_type = #{serviceType}
  	</if>
  	<if test="operatorName != null">
  		AND tp.operator_name = #{operatorName}
  	</if>
  	<if test="limitDescription != null">
  		AND tp.limit_description like concat('%',trim(#{limitDescription}),'%')
  	</if>
  	<if test="epName != null">
  		AND tp.ep_name like concat("%",trim(#{epName}),"%")
  	</if>
  </sql>
 
</mapper>